@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  font-family: "montserrat", sans-serif;
}

@layer utilities {
  .banner-clipPath {
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  }

  .banner-image-clipPath {
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
  }
}
